{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Add a new Entry</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <form action="{% url 'create' %}" method="post">
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
{% endblock %}